<div class="login-space">
    <form class="uk-panel uk-panel-box uk-form" ng-submit="login($event)">
        <div class="uk-form-row name">
            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Username" name="login[name]" ng-mousedown="disableWarning()">
            <a ng-if="warningIcon.name" href="" class="uk-icon-exclamation warning"></a>
        </div>
        <div class="uk-form-row pwd">
            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Password" name="login[pwd]" ng-mousedown="disableWarning()">
            <a ng-if="warningIcon.pwd" href="" class="uk-icon-exclamation warning"></a>
        </div>
        <div ng-if="loginFail" class="uk-alert uk-alert-danger">Invalid Name/Password</div>
        <div class="uk-form-row">
            <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Login</button>
        </div>
    </form>
</div>
